@include extjs-panel-ui(
 
   $ui: 'dark',
 
   $ui-header-background-color: #404040,
 
   $ui-border-color: #404040,
 
   $ui-body-background-color: #404040,
 
   $ui-body-border-color: #404040
 
) ;